{% extends "base.html" %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.2.0"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<h1 class="govuk-heading-xl">Ministry of Justice User Search</h1>
<h3 class="govuk-heading-l">Overview</h3>

<p class="govuk-body">
    This website enables users to cross reference email, Slack usernames and GitHub usernames to identify user information from one source to another.
</p>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 id=searchHeading class="govuk-heading-l">Search for a User</h1>
    <form id="userSearchForm" action="/user-search" method="post" onsubmit="return validateForm()" class="govuk-form-group">
      <div class="govuk-form-group" id="inputGroup">
          <div id="search-hint" class="govuk-hint">
              Enter a Slack Username, GitHub Username or Email Address.
          </div>
          <p id="search-error" class="govuk-error-message" style="display: none;">
              <span class="govuk-visually-hidden">Error:</span> Please provide input before searching.
          </p>
          <input class="govuk-input" id="search" name="q" type="text" aria-describedby="search-hint search-error" placeholder="User Information" autocomplete="off">
      </div>
      <button class="govuk-button" type="submit" style="margin-top: 10px;">Search</button>
  </form>

  <div id="dynamic-results"></div>

  <script>
      function validateForm() {
          var inputVal = document.getElementById("search").value;
  
          if (inputVal.trim() === "") {
              document.getElementById("search-error").style.display = "block";
              document.getElementById("inputGroup").classList.add('govuk-form-group--error');
              document.getElementById("search").classList.add('govuk-input--error');
              return false;
          } else {
              document.getElementById("search-error").style.display = "none";
              document.getElementById("inputGroup").classList.remove('govuk-form-group--error');
              document.getElementById("search").classList.remove('govuk-input--error');
              return true;
          }
      }

      $(document).ready(function () {
        $('#search').on('keyup', function () {
            let query = $(this).val();

            if (query.length < 3) {
                $("#dynamic-results").html("");
                return;
            }

            $.get("/user-search-live", { q: query }, function (data) {
              $("#dynamic-results").html("");

              if(data && data.length > 0) {
                  let table = `
                      <table class="govuk-table">
                          <thead class="govuk-table__head">
                              <tr class="govuk-table__row">
                                  <th class="govuk-table__header" scope="col">Type</th>
                                  <th class="govuk-table__header" scope="col">Value</th>
                                  <th class="govuk-table__header" scope="col">Action</th>
                              </tr>
                          </thead>
                          <tbody class="govuk-table__body">
                  `;

                  data.forEach(result => {
                      if(result.email && result.email.includes(query)) {
                          table += `
                              <tr class="govuk-table__row">
                                  <td class="govuk-table__cell">Email</td>
                                  <td class="govuk-table__cell">${result.email}</td>
                                  <td class="govuk-table__cell">
                                      <button class="govuk-button" onclick="fillSearchBox('${result.email}');">Autofill</button>
                                  </td>
                              </tr>
                          `;
                      }
                      if(result.github_username && result.github_username.includes(query)) {
                          table += `
                              <tr class="govuk-table__row">
                                  <td class="govuk-table__cell">GitHub Username</td>
                                  <td class="govuk-table__cell">${result.github_username}</td>
                                  <td class="govuk-table__cell">
                                      <button class="govuk-button" onclick="fillSearchBox('${result.github_username}');">Autofill</button>
                                  </td>
                              </tr>
                          `;
                      }
                      if(result.slack_username && result.slack_username.includes(query)) {
                          table += `
                              <tr class="govuk-table__row">
                                  <td class="govuk-table__cell">Slack Username</td>
                                  <td class="govuk-table__cell">${result.slack_username}</td>
                                  <td class="govuk-table__cell">
                                      <button class="govuk-button" onclick="fillSearchBox('${result.slack_username}');">Autofill</button>
                                  </td>
                              </tr>
                          `;
                      }
                  });

                  table += `
                          </tbody>
                      </table>
                  `;

                  $("#dynamic-results").html(table);
              }
          });
        });
    });

    function fillSearchBox(value) {
      $("#search").val(value);
    }


  </script>
  </div>
</div>

{% endblock %}
