{% extends "base.html" %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.2.0"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        You are currently using the administrator view
    </strong>
</div>

<a href="/admin-home" class="govuk-back-link">Back</a>


<h1 class="govuk-heading-xl">{{ result[0].name }}</h1>

<h3 class="govuk-heading-l">{{ result[0].email }}</h3>

<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      GitHub Username
    </dt>
    <dd class="govuk-summary-list__value">
      {{ result[0].github_username }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="https://github.com/{{ result[0].github_username }}" target="_blank" class="govuk-link">View Profile</a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Slack Username
    </dt>
    <dd class="govuk-summary-list__value">
      {{ result[0].slack_username }}
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="#" class="govuk-link" disabled>View Profile</a>
    </dd>
  </div>

  {% for service in ['docker', 'pagerduty', 'sentry', 'pingdom'] %}
    {% if result[0][service] %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        {{ service|capitalize }} Profile
      </dt>
      <dd class="govuk-summary-list__value">
        <a href="#" class="govuk-link" disabled>View Profile</a>
      </dd>
      <dd class="govuk-summary-list__actions">
        <form action="/remove-account" method="post" style="display:inline;">
          <input type="hidden" name="_method" value="PUT">
          <input type="hidden" name="q" value="{{ result[0][service+'_username'] }}">
          <button class="govuk-button govuk-button--warning" data-module="govuk-button" type="submit">
            Remove account
          </button>
        </form>
      </dd>
    </div>
    {% endif %}
  {% endfor %}
</dl>

<button class="govuk-button" onclick="location.href='/home'" style="margin-top: 10px;">Return to Search</button>

{% endblock %}
